# Object files
*.o
*.d
*.lst

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# binaries
*.hex
*.elf
!FIRMWARE.BIN
old_FIRMWARE.BIN
front/AVR/Debug/*.bin
front/AVR/Release/*.bin
DrumSynthCortex.bin
DrumSynth_FPU.bin
DrumSynthAvr.bin
ausgelesen.bin
tools/FirmwareImageBuilder/Debug/FIRMWARE.BIN
tools/FirmwareImageBuilder/FirmwareImageBuilder/FIRMWARE.BIN
*.lss


# eclipse project files
*.metadata
*RemoteSystemsTempFiles
*.settings
*.bak
*.svn
*.map
*.html
*.rar
*.zip

# visual studio stuff
*.pdb
*.ncb
*.suo
*.ilk
*.manifest
*.obj
*.pch
*.idb
*.user
*.res
*.dep
*.htm


*Firmware.bat
